* {
    font-family: "Arial";
}

body {
    margin: 0;
    padding: 0
}

.header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background-color: #f8f8f8;
    border-bottom: solid 2px #ff3d6e;
    padding: 15px 20px;
    margin-bottom: 10px;
}

.header img {
    min-height: 50px;
    max-height: 60px;
}

.header h1 {
    font-size: 20px;
    margin: 0px 25px;
    text-align: center;
}

.header h1 span {
    color: #ff3d6e;
}

.header h1 small {
    font-size: 15px;
    font-weight: normal;
}

.header h1 small a {
    font-size: 15px;
    font-weight: normal;
}

.examples {
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
}

.example {
    margin: 10px;
    /*width: 250px;*/
    border: solid 1px #e0e0e0;
    border-radius: 5px;
    background-color: #fdfdfd;
    padding: 15px;
    font-size: 14px;
    line-height: 20px;
}

.example h2 {
    margin: 0 0 15px 0;
    font-size: 16px;
    color: #cf0d3e;
    text-align: center;
}

.example h2 small {
    font-size: 13px;
    color: #909090;
}

.example .emp {
    color: #ff3d6e;
    font-weight: 700;
}

.example img {
    max-width: 250px;
    max-height: 250px;
    border: solid 1px #e0e0e0;
    border-radius: 5px;
    margin-right: 10px;
}

.example .actions {
    margin-top: 0px;
    width: 250px;
    text-align: center;
}

.example .actions button {
    margin: 5px 0;
}

.log {
    display: flex;
    justify-content: center;
}

.log .example {
    width: 1155px;
}

.btn {
    font-size: 14px;
    font-weight: bold;
    padding: 8px;
    width: 250px;
    cursor: pointer;
}

.btn small {
    font-size: 12px;
    color: #888;
    font-weight: normal;
}

.btn:hover {
    background-color: #ddd;
}

#Events .event {
    width: 1230px;
    min-height: 20px;
    border: solid 1px #404040;
    background: #f6f6f6;
    overflow: auto;
    overflow-y: scroll;
    font-family: 'Courier New', 'Verdana';
    font-size: 12px;
    padding: 12px;
    margin: 5px 0;
}

#Events .event .title {
    padding: 5px;
    background-color: #f8f8d0;
    font-size: 15px;
}

#Events .event em {
    color: #606060;
}

#Events .event .color {
    display: flex;
    align-items: center;
}

#Events .event .colorIcon {
    width: 15px;
    height: 15px;
    border: solid 1px #f0f0f0;
    border-radius: 5px;
    margin-right: 6px;
}

.debug {
    font-family: 'Courier New', 'Verdana';
    font-size: 12px;
    width: 1200px;
    height: 500px;
}

.popup {
    display: none
}

.popup h3 {
    margin: 0;
    font-size: 14px;
    color: #cf0d3e;
    color: black;
    font-weight: normal;
    background-color: #e8e8e8;
    padding: 15px;
    border-top: solid 2px #444;
}

.popup h3 b {
    font-size: 15px;
}

.popup h3 strong {
    font-size: 16px;
    color: #ef2d5e;
    font-weight: bold;
}

.popup h4 {
    margin: 15px 0 10px 0;
    padding: 0;
}

.popup textarea {
    min-width: 1200px;
    margin: 0px;
    border: solid 1px #e0e0e0;
    border-radius: 5px;
    background-color: #fdfdfd;
    padding: 10px;
    font-size: 14px;
    line-height: 20px;
    font-family: "Courier New", "Courier", "Tahoma";
}

.popup button {
    margin-left: 15px;
}

@media only screen and (max-width: 1200px) {
    .header {
        justify-content: center;
        text-align: center;
        flex-direction: column;
    }
}
